*{
  margin: 0 0 0 0;
}

body{
  font-family: 'Intel', sans-serif ;
  color: #000;
  background-color: #EAEADE ;
}

header{
  height: 60px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0  1.5rem ;

}
a{
  color: white;
  text-decoration: none;
}

li{
  list-style: none;
}

header .nav .btn_one i , .nav .nav-main .btn_two i {
  position: absolute ;
  top: 15px;
  right: 30px;
  font-size: 2rem;
  opacity: 0.7;
}

header #title {
  width: 60%;
  z-index: 15;
  
  opacity: 0.7;
}
.fit{
  position: fixed;
}
header #title h1 {
  font-size: 2rem ;
  font-weight: bold;
  font-family: 'DM Sans';
  color: #000;
}
header .btns {
  display: none;
}

header .nav .nav-main{
  position: fixed;
  bottom: -110%;
  background-color: #EAEADE ;
  display: flex;
  justify-content: center ;
  color : black ;
  transition: all 3s ease ;
  text-align: center;
  z-index: 10;
  
  
}
.btn_two{
  display: none;
}
.come{
  inset: 0 0 0 0 ;
}
.cross{
  display: block;
}
 .about ul {
   height: 70vh;
   padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2em;
  opacity: 0.7;
  transform: translateX(-10%);
  
}
header .nav .nav-main .about ul li a{
  color : black ;
}

.main{
  background-image: url("front.jpg");
  object-fit: cover;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .contaner {
  max-width: 75%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} 

.hero-title h1{
  font-family: "Noto Sans";
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 5em;
  line-height: 1em;
  
}

.main .contaner .mainbtn button{
  height: 4rem;
  width: 8rem;
  background-color: #FECF5C;
  border: none;
  font-family: 'Intel';
  margin-top: 2rem;
  
}

.page2{
  padding: 2rem 0 1rem 0;
  margin: 2rem 2rem;
  
}

.page2 h2{
  font-family: "Noto Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}
.page2 .contaner2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  height: 90%;
  margin-top: 1rem;
  
}
.page2 .contaner2 .img{
  background-image: url("img1.jpg");
  background-size: 100% 100%;
  height: 300px;
}
.page2 .contaner2 .content {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.page2 .contaner2 .content .btn button{
  height: 3rem;
  width: 8rem;
  background-color:black;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 450;
  margin-top: 1rem;
}

.page3{
  margin: 1rem 2rem 2rem 2rem;
  padding: 2rem 0;
  text-align: center;
  background-image: url("img2.jpg");
  background-size: 100% 100%;
  color: white;
}
.page3 h2{
  font-family: "Noto Serif Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}
.page3 .contaner3 {
  line-height: 1.2rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1rem;
  height: 75%;
}

.page3 .contaner3 div{
  text-align: center;
  margin: 0.5rem;
}

.page4 {
  margin: 2rem 1.4rem;
  text-align: center;
}
.page4 h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}
.page4 h2 ~ p{
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  
}
.page4 .contaner4{
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  margin: 0.5rem 0;
}
.page4 .contaner4 .all{
  margin: 2rem 0;
  padding: 1rem;
}
.contaner4 .heading h3{
  font-size: 1.2rem;
  font-weight: 500;
}
.contaner4 .heading t{
  font-size: 1.1rem;
  margin: 0;
}
.contaner4 .des p {
  font-size: 1rem;
  margin: 2rem 0;
}
.contaner4 .des button{
  height:3rem;
  width:7rem;
  background-color: black ;
  border: none;
  font-size: 1rem;
  color: white;
  place-self: center;
}

/* बेसिक Styling */
.responsive-container {
  margin: 5%;
  height: 450px;
}

.responsive-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-overlay {
    position: relative;
    bottom: 35%;  /* आप इसे top, left, right से भी बदल सकते हैं */
    left: 10px;
    width: 75%;  /* या जितना text को चाहिए */
    color: white;
    font-size: 2rem;
    padding:10px ;
    line-height: 2.5rem;
    font-family: "Noto Serif Display", serif;
    bottom: 80%;
    max-width: 70%;
  }
  
 .responsive-container button{
   height:4rem;
   width: 50%;
   position: relative;
   bottom: 80%;
   left :20px;
   background-color: #FECF5C;
   border: none;
 }
 .box5{
   margin: 2.5rem 5%;
 }
 .box5 .contaner5 {
   margin-top: 1rem;
   margin-bottom: 1.5rem;
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
  
 }
 .box5 h2 , .box5 .name h2{
   font-family: "Noto Serif Display", serif;
   font-size: 2rem;
   font-weight: 500;
   text-align: center;
   margin-bottom: 1rem;
 }
 .box5 .name{
   display:flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 .box5 p{
   font-size: 1.1rem;
   font-family: 'Poppins';
   line-height: 1.2rem;
   text-align: justify;
   letter-spacing: .5px;
   margin-top: 1rem;
 }
 
 .box5 .contaner5 img{
   width: 100%;
   height: auto;
   max-height:400px;
 }
 .box5 .short-talk{
   margin: 1rem 0;
   display: flex;
   height: 200px;
   align-items: flex;
   flex-direction: column;
   justify-content: space-evenly;
   
 }
 .box5 .short-talk h3{
   font-size: 1.5rem;
   font-weight: 450;
 }
 .box5 .short-talk button{
   height: 3.5rem;
   background-color: #000;
   color: white;
   width: 60%;
   border :none;
 }
 
 .contaner6{
   margin: 3rem 2rem;
   padding: 10% 3%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-image: url("img4.jpg");
   background-size: 100% 100%;
   color: white;
   text-align: center;
   align-items: center;
 }
 .contaner6 .collection {
   height: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   font-family: "Noto Serif Display", serif;
   font-size: 1rem;
   line-height: 5rem;
 }
 .contaner6 .collection h2{
   font-size: 4rem;
   font-weight: 500;
   line-height: 4rem;
 }
.contaner6 .button {
  height: 4rem;
  width: 60%;
  font: 1rem;
  background-color: #FECF5C;
  border: none;
} 

footer{
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
footer h3{
  font-size: 1.3rem;
}
footer .content{
  display: flex ;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
footer .content .footer-info {
  font-weight: 400;
  line-height: 1.32rem;
  
}
footer .content .footer-links{
  display: flex ;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
footer .content .footer-links .link a{
  color: #000;
  text-decoration: underline;
  margin-top: 0.;
  
}

footer .content .footer-links .link p{
  margin-top: 0.5rem;
}
footer .content .footer-links .social i{
  margin-left: 1rem;
  font-size: 1.2rem;
  margin-top: 0.85rem;
  
}

.copyright{
  font-size: 1rem;
  align-self: center;
  margin-top: 1rem;
  justify-self: end;
}